/* App.css */
.neon-box {
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba(210, 210, 210, 0.4), 
                0 0 20px rgba(210, 210, 210, 0.4), 
                0 0 30px rgba(210, 210, 210, 0.2), 
                0 0 40px rgba(210, 210, 210, 0.1);
  }
  
  .dot {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(#a3a3a3 1px, transparent 1px);
    background-size: 16px 16px;
  }