body {
    margin: 0;
    font-family: "Red Hat Display", sans-serif;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .left {
    background-color: #d82525;
    color: #e4e2dd;
    padding: 2rem;
    flex: 1;
  }
  
  .left h1 {
    font-size: 4rem;
    margin: 0;
  }
  
  .left ul {
    list-style: none;
    padding: 0;
    margin: 2rem 0 0;
  }
  
  .left ul li {
    margin: 1rem 0;
  }
  
  .left ul li span {
    font-style: italic;
  }
  
  .right {
    background-color: #ddd;
    color: #333;
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .right h2 {
    margin: 0 0 2rem;
  }
  
  .form {
    width: 100%;
    max-width: 400px;
  }
  
  .input-group {
    margin: 1rem 0;
  }
  
  .input-group input {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 1rem;
    background-color: #e12d2d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button.google {
    background-color: white;
    color: #333;
    border: 1px solid #333;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem 0;
  }
  
  button.google:hover {
    background-color: #f1f1f1;
  }
  
  p {
    margin: 1rem 0;
  }
  
  a {
    color: #e12d2d;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  